<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="./css/normalize.css" rel="stylesheet">
        <link href="./css/styles.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <title>Proyecto DG - Mercado Liebre</title>
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </div>
                <div class="barra-relleno">
                <form class="form" action="#" method="GET">
                    <input type="text" class="barra-relleno" placeholder="Buscar productos, marcas y más">
                    <button type="submit" class="submit"><i class="fa fa-search"></i></button>
                </form>
                </div>
                <div><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</div>
            </div>
            <nav class="nav-ini">
                <ul class="nav-ini-li">
                    <li><div><a href="#">Ofertas</a>  &nbsp; &nbsp; </div></li>
                    <li><div><a href="#">Tiendas Oficiales</a> &nbsp; &nbsp;  </div></li>
                    <li><div><a href="#">Vender</a> &nbsp; &nbsp; </div></li>
                    <li><div><a href="#">Ayuda</a> &nbsp; &nbsp; </div></li>
                </ul>
                <ul class="nav-ini-li">
                    <li><div><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a> &nbsp; &nbsp; </div></li>
                    <li><div><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a> &nbsp; &nbsp; </div></li>
                    <li><div><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a> &nbsp; &nbsp; </div></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
        <section class="banner">
            <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
        </section>
        <main>
            <section class="last-visit">
                <h3>Basado en tu última visita</h3>
                <div class="products">
                    <article>
                        <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Cafetera Moulinex</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                            <h4 class="description">MacBook Pro 2019</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                            <h4 class="description">Samsung Galaxy S10</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">SmartTv Samsung 43"</h4>
                        </div>
                    </article>
                </div>
            </section>
            <section class="offers">
                <h3>Ofertas</h3>
                <div class="products">
                    <article>
                        <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Cafetera Moulinex</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                            <h4 class="description">MacBook Pro 2019</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                        <h4 class="description">Samsung Galaxy S10</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">SmartTv Samsung 43"</h4>
                        </div>
                    </article>
                </div>  
            </section>
        </main>
        <footer>
            <div class="icono">
                <i class="fas fa-credit-card"></i>
            </div>
            <h2 class="titulares">Pagá con tarjeta o con efectivo</h2>
            <article>
                <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <div class="icono">
                <i class="fas fa-gift"></i>
            </div>
            <h2 class="titulares">Envío gratis desde $2.500 </h2>
            <article>
                <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos. </p>
            </article>
            <div class="icono">
                <i class="fas fa-user-shield"></i> 
            </div>
            <h2 class="titulares">Seguridad de principio a fin</h2>
            <article>
                <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer por que estás siempre protegido. </p>
            </article>
            <p>Copyright &copy 1999-2020 Mercado Liebre S.L.R. </p>
        </footer>
    </body>
</html>